<style>
#info {
    font-size:12px;
}
h4 {
    border:1px solid white;
    background-color: highlight;
    font-weight:bold;
}

.desc {
    border:1px dotted #efefef;
    margin-left: 20px;
    background-color: #efefef;
}

.params {
    border:1px dotted #efefef;
    margin-left: 20px;
    margin-top: 10px;
}

.return {
    margin-left: 20px;
    margin-top: 10px;
    background-color: #efefef;
}

.action {
    display: block;
    margin-left: 40px;

}

.returninfo {

}

.details {
    width: 600px;
}
</style>
<div id="info">
    <h3>REST Web Service</h3>
    <div class="details">
    <?php
    $restaction = array('getAction','indexAction','putAction','deleteAction','postAction');
    foreach ($this->info as $info) {
        $classes = $info->getClasses();
        if (isset($classes[0])) {
            $classname = $classes[0]->getName();
            $methods = $classes[0]->getMethods();
            echo '<p>'.str_ireplace(array('Api_','Controller'),array('',''),$classname).'</p>';
            foreach ($methods as $method) {
                $methodname = $method->getName();
                if (in_array($methodname, $restaction)) {
                    //echo '<div class="desc">'.$method->getDocblock()->getShortDescription().'</div>';
                    echo '<p class="action">'.str_ireplace('action','',$methodname).'</p>';
                }
                
            }
        }
    }
    ?>
    </div>
</div>